{% extends 'base.html' %}
{% block meta %}
    <meta http-equiv="refresh" content="30;url={% url 'home' %}">
{% endblock %}
{% block content %}
    <div class="card mt-5" style="width: 600px; margin: 0 auto">
        <div  class="card-body">
            <h4 class="card-title">Письмо с инструкциями по восстановлению пароля отправлено</h4>
            <hr>
            <p>
                Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в
                нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
                <br><br>
                Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и
                проверьте папку со спамом.
                <br><br>
                Вы будете перенаправленны на главную страницу через 30 секунд.
            </p>
        </div>
    </div>
{% endblock %}